# Connexion à la base de données SQLite locale (Fichier local créé automatiquement)
DATABASE_URL="file:./dev.db"

# Secret NextAuth.js (Générez une chaîne aléatoire sécurisée)
AUTH_SECRET="votre_cle_secrete_aleatoire_de_minimum_32_caracteres"
NEXTAUTH_URL="http://localhost:3000"

# URL de l'API locale
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Clé API Google Maps (Optionnel - requis pour afficher les cartes interactives)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
